@import '../../styles/variables.scss';

.container {
  @include transition;
  position: fixed;
  height: 38px;
  width: 92;
  left: 20px;
  top: 20px;
  z-index: 200;
  overflow-y: auto;
  @include scrollbar;
  border-radius: 5px;
  background-color: $primary-color;
  &.is-open {
    transform: translateX(0px);
    width: 300px;
    height: calc(100vh - 40px);
  }
  .toggle {
    @include btn;
    color: $white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }
  .filters {
    padding: 0px 20px;
    h4 {
      margin: 10px 0px;
      color: $white;
    }
    .list {
      margin-top: 10px;
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      button {
        @include btn;
        background-color: rgba($white, 0.4);
        color: $primary-color;
        border-radius: 3px;
        margin: 2px;
        padding: 3px 5px;
        &:hover {
          background-color: rgba($white, 0.6);
          color: $primary-color;
        }
        &.is-active {
          background-color: $white;
          color: $primary-color;
        }
      }
    }
  }
}