@import '../../styles/variables.scss';

@mixin name {
  font-family: "Montserrat-SemiBold";
  text-transform: uppercase;
}

.tooltip {
  @include transition;
  width: 220px;
  background-color: $white;
  position: fixed;
  z-index: 300;
  pointer-events: none;
  border-radius: $radius;
  padding: 10px 5px 5px 5px;
  min-height: 40px;
  @include box-shadow;
  .icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(110px - 15px);
    color: white;
    top: -15px;
  }
  &.post {
    .icon {
      background-color: $post;
    }
    .code {
      color: $post;
     }
  }
  &.comment {
    .icon {
      background-color: $comment;
    }
    .code {
     color: $comment;
    }
  }
  &.author {
    .icon {
      background-color: $author;
    }
    .code {
     color: $author;
    }
  }
  .label {
    color: rgba($dark, 0.5)
  }
  p {
    text-align: center;
    max-width: 100%;
    font-size: 14px;
    color: $dark;
    word-break: none;
    &.category {
      @include name;
      color: $post;
    }
    &.name {
      @include name;
      color: $author;
    }
  }
  .ideologies {
    margin-bottom: 5px;
    p {
      margin: 2px;
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      p {
        background-color: $author;
        color: $white;
        border-radius: 3px;
        margin: 2px;
        padding: 2px 4px;
      }
    }
  }
}