@import '../../styles/variables.scss';

.container {
  width: 100%;
  font-size: 14px;
  padding: 10px 10px 5px 10px;
  border: 1px solid rgba($dark ,0.1);
  border-radius: $radius;
  margin-bottom: 10px;
  p {
    margin: 0px;
    word-break: break-all;
  }
  .author {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      p {
        background-color: rgba($dark ,0.1);
      }
    }
    p {
      line-height: 14px
    }
    button {
     @include btn;
     padding: 0px;
    }
  }
  .panel {
    @include transition;
    overflow: hidden;
    .content {
      border-top: 1px solid rgba($dark ,0.1);
      padding: 10px 0px;
      margin: 0px 10px;
      width: calc(100% - 20px); 
      border-radius: 8px;
      .name {
        @include name;
        font-weight: bold;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 8px;
        line-height: 14px
      }
      span {
        color: rgba($dark ,0.5);
      }
      .ideologies {
        margin-top: 10px;
      }
    }
  }
  .ideologies {
    margin-bottom: 5px;
    p {
      margin: 2px;
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      p {
        background-color: $author;
        color: $white;
        border-radius: 3px;
        margin: 2px;
        padding: 2px 4px;
      }
    }
  }
}