@import '../../styles/variables.scss';

.panel {
  @include transition;
  position: fixed;
  max-height: calc(100vh - 40px);
  width: 400px;
  right: 20px;
  top: 20px;
  overflow-y: auto;
  transform: translateX(440px);
  border-radius: 5px;
  background-color: $white;
  @include scrollbar;
  display: none;
  @media only screen and (min-width: $md-screen) {
    display: block;
  }
  &.is-open {
    transform: translateX(0px);
  }
  .post {
    .iframe {
      margin: 10px;
      width: calc(100% - 20px); 
      border-radius: 8px;
    }
    .name {
      @include name;
      font-weight: bold;
      text-transform: uppercase;
      color: $post;
      margin: 0px 8px;
      line-height: 18px;
      display: flex;
      align-items: center;
      .icon {
        width: 28px;
        height: 28px;
        border-radius: 15px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $post;
      }
    }
  }
  .author {
    margin: 10px;
    padding: 8px;
    border-radius: $radius;
    font-size: 14px;
    .name {
      @include name;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary-color;
      margin: 0px;
      line-height: 18px;
      display: flex;
      align-items: center;
      .icon {
        width: 28px;
        height: 28px;
        border-radius: 15px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $author;
      }
    }
    .label {
      color: rgba($dark, 0.5)
    }
    .ideologies {
      margin-bottom: 5px;
      p {
        margin: 2px;
      }
      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        p {
          background-color: $author;
          color: $white;
          border-radius: 3px;
          margin: 2px;
          padding: 2px 4px;
        }
      }
    }
    p {
      line-height: 14px
    }
  }
  .comment-list {
    padding: 10px;
  }
  .close {
    position: relative;
    button {
      @include btn;
      z-index: 200;
      margin: 5px 10px;
      display: flex;
      align-items: center;
      color: rgba($dark ,0.5);
      font-size: 14px;
    }
  }
}