@import '../../styles/variables.scss';

.panel {
  @include transition;
  position: fixed;
  height: calc(100vh - 40px);
  width: 400px;
  right: 20px;
  top: 20px;
  transform: translateX(440px);
  border-radius: $radius;
  background-color: $white;
  &.is-open {
    transform: translateX(0px);
  }
  .post {
    overflow: auto;
    position:relative;
    height: 500px;
    margin: 10px; 
    border-radius: $radius;
    iframe {
      left:0;
      top:0;
      border: none;
      min-height: 650px;
      margin-bottom: 20px;
      height: auto;
      width:100%;
      position:absolute;
    }
  }
}