@import '../../styles/variables.scss';

.container {
  @include transition;
  position: fixed;
  height: calc(100vh - 40px);
  width: 400px;
  right: 20px;
  top: 20px;
  overflow-y: auto;
  transform: translateX(440px);
  border-radius: 5px;
  background-color: $white;
  @include scrollbar;
  display: none;
  @media only screen and (min-width: $md-screen) {
    display: block;
  }
  &.is-open {
    transform: translateX(0px);
  }
  .close {
    position: relative;
    button {
      @include btn;
      z-index: 200;
      margin: 5px 10px;
      display: flex;
      align-items: center;
      color: rgba($dark ,0.5);
      font-size: 14px;
    }
  }
  .pie {
    width: 100%;
    height: 300px;
  }
}

.toggle {
  @include btn;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: $primary-color;
  color: $white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  svg {
    margin-right: 10px;
  }
}