$dark : #05050F;
$primary-color: #5A2BD1;
$primary-dark: #2d1569;
$bg-color: #fddcd7;
$white: #FFFFFF;
$radius : 3px;

$post: #2d1569;
$comment: #8567cf;
$author: #5A2BD1;

$lg-screen: 1200px;
$md-screen: 1024px;
$sm-screen: 768px;
$xs-screen: 576px;

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin btn {
  text-align: center;
	cursor: pointer;
	font-family: "Roboto-Regular";
	transition: all 0.2s ease-in-out;
	background-color: transparent;
  outline: none;
  border: none;
}

@mixin box-shadow {
	box-shadow: 3px 3px 40px 15px rgba($primary-dark, .4);
}

@mixin name {
  font-family: "Montserrat-SemiBold";
  text-transform: uppercase;
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-SemiBold";
	src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@mixin scrollbar {
  scrollbar-color: $dark transparent !important;
  scrollbar-width: thin !important;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba($dark, 0.5);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $dark;
  }
}